<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- PRODUCTION
    <add key="databaseId" value="moviegeek"/>
    <add key="dbConnectionUrl" value="https://scenerio2.documents.azure.com:443/"/>
    <add key="dbConnectionKey" value="Vb6wA3tdna24yN8ih9vGWXGagTQnDjurp7GIq2UPglDIbkixeIOLbisguW6zCv1C16U4J3jeKXRNaZjdUHLoyg=="/>
    <add key="movieApiKey" value="6918a9db428b01e4a7a88757e7c6467c"/>
    -->
    <!-- TEST
    <add key="databaseId" value="moviegeek"/>
    <add key="dbConnectionUrl" value="https://localhost:8081/"/>
    <add key="dbConnectionKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="/>
    <add key="movieApiKey" value="6918a9db428b01e4a7a88757e7c6467c"/>
    -->
    <add key="databaseId" value="movies" />
    <add key="dbConnectionUrl" value="https://s2cosmosdb5xlpi3sjpq74e.documents.azure.com:443/" />
    <add key="dbConnectionKey" value="V3s5RKG9JabjizUl7g11JsC0R7oH4TwpMuOFAN3D3OdaKHCZ80MRrNo21dD3E2zPGHdB0KdcX9ef3Kmqrnfa0g==" />
    <add key="movieApiKey" value="YOUR KEY" />
  </appSettings>
</configuration>