@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="content-header">
    <h1>
        <i class="fa fa-eye"></i> &nbsp;@ViewData["Title"]
        <small>Optional description</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    
    <p></p>

    <div class="col-md-4">
        <div class="callout callout-info">
            <h4>We respect your privacy</h4>

            <p>We will not share your personal information with any third parties.</p>
        </div>
    </div>

</section>
