<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="2.6.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" requireReinstallation="true" />
</packages>