@model Contoso.Apps.Movies.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section HeaderOverlay {
    <!--
    <div class="button-wrapper">
        <div class="container">
            <div class="row">
                <a href="#" class="btn-content">Contoso Movies</a>
            </div>
            <div class="row clearfix">
                <p><br /></p>
                <p><br /></p>
                <p><a href="@Url.Action("Index", "Store")" class="btn red-btn">Visit our Store</a></p>
            </div>
        </div>
    </div>
        -->
}

<section class="store">

    <div class="container">
        <div class="row">
            <div class="wrapper clearfix">
                <aside class="content contact-wrap">
                    <div class="store-details-wrap clearfix">
                        <div class="shop-related clearfix">
                            <h2>Based on what you and others have bought</h2>
                            <p><br /></p>

                            @foreach (var product in Model.RecommendProductsBought)
                            {
                                @Html.Partial("_MoviesTeaser", product)
                            }

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="wrapper clearfix">
                <aside class="content contact-wrap">
                    <div class="store-details-wrap clearfix">
                        <div class="shop-related clearfix">
                            <h2>Based on what you and others have liked</h2>
                            <p><br /></p>

                            @foreach (var product in Model.RecommendProductsLiked)
                            {
                                @Html.Partial("_MoviesTeaser", product)
                            }

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

@section Scripts {

}
