@model Contoso.Apps.Movies.Admin.Models.BaseModel
@{
    ViewBag.Title = "About the Admin Site";
}
<h1><a href="@Url.Action("Index", "Home")">Home</a> <i class="fa fa-chevron-circle-right"></i> @ViewBag.Title</h1>
<h3></h3>

<p>Use this area to provide additional information.</p>
