@model Contoso.Apps.Movies.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section HeaderOverlay {
    
}

    <section class="store">

        <div class="container">
            <div class="row">
                <div class="wrapper clearfix">
                    <aside class="content contact-wrap">
                        <div class="store-details-wrap clearfix">
                            <div class="shop-related clearfix">

                                <p class="clearfix"><br /></p>

                                <h2>Top Sellers</h2>

                                @foreach (var product in Model.RecommendProductsTop)
                                {
                                    @Html.Partial("_MoviesTeaser", product)
                                }

                                <p class="clearfix"><br /></p>

                                <h2>Based on what you and others have bought (Assoc)</h2>
                                
                                <p class="clearfix"><br /></p>

                                @foreach (var product in Model.RecommendProductsBought)
                                {
                                    @Html.Partial("_MoviesTeaser", product)
                                }

                                <p class="clearfix"><br /></p>

                                <h2>Based on what you and others have liked (Collab)</h2>

                                @foreach (var product in Model.RecommendProductsLiked)
                                {
                                    @Html.Partial("_MoviesTeaser", product)
                                }

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        
    </section>

@section Scripts {

}
